.container {
    background-color: #252d37;
    width: 350px;
    height: 320px;
    border-radius: 10px;
    padding: 20px;
}

.botaoClass {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}